* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-black: #272a31;
  --color-red: #ec5242;
  --color-gray: #d3d3d3;
}

body {
  font-family: 'Lato', sans-serif;
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 1rem;
}

.media-links {
  background: var(--color-black);
  height: 35px;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
}

.media-links a {
  color: white;
}

.nav-container {
  background-color: white;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-container button {
  display: none;
}

.my-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.my-logo img {
  height: 60px;
  width: 60px;
}

.my-logo a {
  color: var(--color-black);
}

.my-links {
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-size: 1rem;
}

.my-links a {
  color: var(--color-black);
}

.my-links a:hover {
  border: 3px solid red;
  padding: 10px;
}

.intro {
  height: 100vh;
  position: relative;
  background-color: rgb(243, 243, 243);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12rem;
}

.intro::before {
  content: "";
  background-image: url('./images/banner11.PNG');
  background-size: 100% 100%;
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  opacity: 0.1;
}

.intro-heading {
  color: var(--color-red);
}

.intro-heading h1 {
  font-weight: bold;
  line-height: 0.9;
  font-size: 55px;
}

.intro-desc {
  border: 2px solid white;
  background-color: rgb(243, 243, 243);
  height: 70px;
  width: 500px;
  margin: 10px;
  padding-top: 40px;
  padding-left: 20px;
  position: relative;
  max-width: 550px;
}

.date {
  font-size: 30px;
  font-weight: 800;
}

/* product style */
.product {
  background: url('./images/product_backgroud.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 4rem;
}

.line {
  margin-top: 5px;
  height: 1px;
  background-color: var(--color-red);
  width: 50px;
}

article {
  width: 200px;
  background-color: #272a31;
  border: 1px solid white;
}

.p-img img {
  height: 250px;
  width: 200px;
}

.p-info {
  padding: 5px;
  padding-left: 10px;
}

.p-info h2 {
  color: var(--color-red);
}

.see-more {
  color: white;
  text-decoration: underline;
}

/* category brands */

.categories-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

#categories {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1px;
  margin-top: 1rem;
  width: 90%;
}

.cat-img {
  height: 150px;
  width: 150px;
  margin-right: 1rem;
}

.cat-line {
  height: 2px;
  background-color: rgb(85, 85, 85);
  width: 50px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.cat-text {
  color: #e43c13;
  font-size: 13px;
  font-style: italic;
}

.cat-content {
  font-size: 15px;
}

.cat-title {
  font-size: 20px;
  font-weight: 600;
}

/* partners */

.partners-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-color: var(--color-black);
  filter: grayscale(100%) contrast(30%);
}

.partners-section h2 {
  color: white;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partner {
  padding: 1rem;
  color: #d1d1d1;
  font-size: 30px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
}

.footer-logo {
  display: flex;
  margin-right: 1rem;
}

.footer-img {
  height: 50px;
  width: 40px;
}

.footer-name p {
  margin: 1px;
  color: #e43c13;
  font-size: 18px;
  font-weight: 600;
}

/* About page */

.divider {
  background-color: rgb(211, 211, 211);
  height: 1px;
}

.about-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 247, 247);
  height: 100vh;
  width: 100%;
  position: relative;
}

.about-intro::before {
  content: "";
  background-image: url('./images/banner11.PNG');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  opacity: 0.1;
}

.contact p {
  color: black;
  font-size: 13px;
}

.intro-about-content {
  color: var(--color-red);
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-about-content h1 {
  font-size: 55px;
  position: relative;
  text-align: center;
}

.intro-about-content h2 {
  font-size: 33px;
  position: relative;
}

.intro-about-desc .footer-logo .footer-img {
  width: 150px;
  height: 150px;
}

.about-branch p {
  margin: 1rem;
  text-align: center;
}

.branch p {
  color: white;
  position: relative;
  text-align: center;
}

.intro-about-desc .footer-logo .footer-name p {
  font-size: 45px;
}

.intro-about-desc {
  border: 2px solid rgb(230, 227, 227);
  background-color: rgb(247, 247, 247);
  position: relative;
  margin: 1rem;
  padding: 1rem;
  max-width: 550px;
}

.about-intro .contact {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.about-intro .contact span {
  color: black;
  font-size: 18px;
  text-decoration: underline;
}

.about-branch {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-logo {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-logo-desc {
  margin-top: 1rem;
  text-align: center;
  max-width: 600px;
}

.branches {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.branch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  height: 230px;
  margin: 1rem;
  background-color: #e43c13;
  position: relative;
}

.branch img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: absolute;
}

.branch h2 {
  color: white;
  font-size: 35px;
  font-weight: bold;
  position: relative;
}

.morebtn {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 100%;
  }

  .media-links {
    display: none;
  }

  nav {
    background-color: var(--color-gray);
  }

  .nav-container {
    display: inline-block;
    height: 100%;
    background-color: var(--color-gray);
  }

  .nav-container button {
    display: inline;
    background: transparent;
    font-size: 1.9rem;
  }

  .nav-container i {
    color: black;
  }

  .my-logo {
    display: none;
  }

  .my-links {
    display: none;
    margin-top: 4rem;
    width: 100vm;
    gap: 40px;
    flex-direction: column;
    font-weight: bold;
    font-size: 40px;
    transition: ease-in;
  }

  .nav-container button#closemenubtn {
    display: none;
  }

  .intro {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
  }

  .intro-heading h1 {
    font-size: 50px;
  }

  .intro-desc {
    width: fit-content;
    margin: 2px;
    padding-top: 10px;
    padding-left: 1px;
    position: relative;
    max-width: 100%;
  }

  .date {
    font-size: 20px;
    font-weight: 750;
  }

  /* product style */
  .product {
    padding: 0.8rem;
  }

  .p-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin: 1rem;
  }

  article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    align-items: center;
    height: 150px;
  }

  .p-img img {
    height: 150px;
    width: 100px;
  }

  .p-info {
    display: flex;
    flex-direction: row;
    padding: 1px;
    gap: 10px;
    padding-left: 20px;
    align-items: center;
    text-align: start;
  }

  .p-info h2 {
    font-size: 20px;
  }

  .p-info p {
    font-size: 15px;
    padding: 2px;
  }

  /* category brands */
  .categories-section {
    padding: 2rem;
  }

  #categories {
    grid-template-columns: repeat(1, 2fr);
  }

  .category {
    margin-top: 3rem;
    width: fit-content;
  }

  .cat-img {
    height: 150px;
    width: 100px;
    margin-right: 1rem;
  }

  .morebtn {
    display: flex;
    width: 90%;
    padding: 5px;
    justify-content: center;
    border: solid 1px #272a31;
    margin: 50px 0;
    cursor: pointer;
  }

  .dropdown {
    width: 13px;
    height: 13px;
    padding-top: 14px;
  }

  .more {
    font-size: 18px;
    margin: 10px;
  }

  .p {
    display: none;
  }

  .f {
    display: none;
  }

  .hidden {
    display: none;
  }

  .uil {
    color: var(--color-red);
  }

  /* About page */
  .about-intro {
    height: 90vh;
    width: 100%;
    position: relative;
  }

  .contact p {
    color: black;
    font-size: 13px;
  }

  .intro-about-content {
    padding-top: 7rem;
  }

  .intro-about-content h1 {
    font-size: 30px;
    position: relative;
    text-align: center;
  }

  .intro-about-content h2 {
    font-size: 20px;
    position: relative;
    text-align: center;
    padding-bottom: 1rem;
  }

  .intro-about-desc .footer-logo .footer-img {
    width: 100px;
    height: 100px;
  }

  .about-branch p {
    margin: 1rem;
    text-align: center;
  }

  .branch p {
    color: white;
    position: relative;
    text-align: center;
  }

  .intro-about-desc .footer-logo .footer-name p {
    font-size: 20px;
  }

  .intro-about-desc {
    border: 2px solid rgb(230, 227, 227);
    background-color: rgb(247, 247, 247);
    position: relative;
    margin: 1rem;
    padding: 1rem;
    max-width: 550px;
  }

  .about-intro .contact {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }

  .about-intro .contact span {
    color: black;
    font-size: 18px;
    text-decoration: underline;
  }

  .about-branch h2 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about-logo {
    align-items: center;
  }

  .about-logo h2 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about-logo-desc {
    padding-left: 10px;
    padding-right: 10px;
  }
}
